@model Participant
<link rel="stylesheet" type="text/css" media="screen" href="~/css/Wedding/add_wedding.css"/>

<style>
.header{
    height:100px;
    width:100%;
    border-bottom:2px solid black;
}
.logo{
    display:inline-block;
}
.greeting{
    display:inline-block;
    margin-left:25%;
    padding-right:20px;
}
.lft{
    display:inline-block;
    margin-left:30%;
    padding-right:20px;
}
.link{
    display:inline-block;
}
.td{
    border-right:2px solid black;
}
.margin{
margin-top:15px;
}
.table{
    border:2px solid black;
}

</style>

<div class=header>
    <h2 class="logo">Dojo Activity Center</h2>
    <h5 class="greeting">Welcome @ViewBag.fname</h5>
    <a class="link" href="/logout">Log off</a>
</div>
<div class="margin">
    <table class="table table-striped" class="table table-bordered" class="table table-striped">
        <thead>
            <tr>
                <th class="td" scope="col">Activity</th>
                <th class="td" scope="col">Date and Time</th>
                <th class="td" scope="col">Duration</th>
                <th class="td" scope="col">Event Coordinator</th>
                <th class="td" scope="col">Number of Participants</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
        <tbody>
            @{
                @foreach(var a in @ViewBag.allactivities)
                { var t=false;
                    <tr>
                        <td class="td"><a href="activity/@a.ActivityId">@a.activity_name</a></td>
                        <td class="td">@a.date_time.ToString("MM / dd @ hh:mm tt")</td>
                        <td class="td">@a.duration_time  @a.duration_length</td>
                        <td class="td">
                            @foreach(var u in ViewBag.allusers)
                            {
                            @if(@u.UserId == @a.CreatorID){
                                @u.fname
                            }
                            }


                        </td>
                        <td class="td">@a.Participate.Count</td>
                        <td>    
                            @if(@a.CreatorID == @ViewBag.Id)
                            {
                                <a class="button" href="/delete/@a.ActivityId">Cancel Activity</a>
                            }
                            else 
                            {
                                @foreach(var e in a.Participate)
                                    {
                                        if(@e.UserId == @ViewBag.id)
                                        {
                                            t=true;
                                        }
                                    }
                                @if(t==true)
                                {
                                    <form action="/leave/@a.ActivityId"  method="post">
                                        <input type="hidden" asp-for="UserId" value="@ViewBag.id">
                                        <input type="hidden" asp-for="ActivityId" value="@a.ActivityId">
                                        <input type="submit" value="Leave">
                                    </form>
                                }
                                @if(t==false)
                                {
                                    <form action="/join/@a.ActivityId" method="post">
                                        <input type="hidden" name="UserId" value="@ViewBag.id">
                                        <input type="hidden" name="ActivityId" value="@a.ActivityId">
                                        <input type="submit" value="Join">
                                    </form>
                                }
                                        
                            }
                                
                            

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
        <button><a href="/activity/add_activity">Add a New Activity!</a></button>
</div>